workflow_aws_access_key_id:
workflow_aws_secret_access_key:
workflow_input_url: s3://copernicus-dem-30m/Copernicus_DSM_COG_10_N21_00_W159_00_DEM/Copernicus_DSM_COG_10_N21_00_W159_00_DEM.tif
workflow_min_stress_time: 15
workflow_max_stress_time: 30
workflow_base_dataset_url: s3://hysds-dataset-bucket-gman-test/test
